.reveal * { 
  text-transform: none !important;
  font-family: Microsoft JhengHei !important;
}

.col-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 120px !important;
}
.row-flex-container {
  display: flex;
  flex-direction: row;
}

.blue-text {
  color: #2196F3;
}

